@import "_variables.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 50px 0;
  background: $bg;
  color: $fg;
  font-family: 'Consolas';
}

.max-width-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

input,
button {
  font-family: inherit;
}